html,body,body *
    margin 0
    padding 0
    box-sizing border-box
    font-family "Roboto", sans-serif
    transition 100ms ease-out

html
    font-size 16px
    line-height 1

    h1
        font-size 2rem

    h2
        font-size 1.5rem

    p
        font-size 1rem

.animated
    animation-duration 300ms

body
    background-color #eee
