.content-shadow
    position fixed
    top 124px
    right 0
    left 0
    z-index 80
    height 10px
    background -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%)
    background -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
    background linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
    opacity 0
    pointer-events none

    &.lower
        top auto
        bottom 60px
        background -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%)
        background -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
        background linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)

    &.shadow-active
        opacity 0.25




.card-title-wrapper
    color #000
    padding 0px 20px
    margin 20px 0
    background-color #eee
    box-sizing border-box
    display flex
    flex-flow row nowrap
    justify-content flex-start

    *
        margin auto 0

    span.card-title
        font-weight 700

    span.card-date
        font-weight 100
        color #000
        margin-left 20px
        font-size 1.1rem

    span.card-settings
        margin-left auto

        i
            color #111
            margin-right 20px

            &:last-of-type
                margin-right 0

.card
    background-color #eee
    flex 1
    margin 0px auto
    border 0px solid #eee
    display flex
    flex-flow column nowrap
    justify-content flex-start
    max-width 100vw
    width 800px




    ul
        list-style none
        flex 1
        overflow scroll

        li
            padding 20px
            line-height 20px
            background-color #fff

            &:nth-of-type(odd)
                background-color #e8ffff

            &.task-spacer-top
                border-bottom 1px solid #eee
                padding 0
            &.task-spacer-bottom
                border-top 1px solid #eee
                padding 0

                span
                    display block
                    padding 3px 20px
                    background-color #eee
                    color #aaa
                    font-size 0.7rem
                    font-weight 700
                    text-transform uppercase

            &.task
                display flex
                flex-flow row nowrap
                justify-content flex-start

                i
                    flex 0 0 auto
                    margin 0
                    margin-top 3px
                    margin-right 20px

                span
                    font-weight 300

                    &.task-time
                        font-weight 700
                        margin-right 20px

                    &.task-body
                        display flex
                        flex-flow column nowrap
                        justify-content flex-start

                        span
                            flex 0 0 auto
                            margin-bottom 5px

                        span.task-effort
                            margin 0
                            margin-bottom -10px
                            font-size 0.9rem
                            i
                                color #ccc
                                margin-right 5px


            &.done-task
                color #ccc

                span
                    text-decoration line-through

                    &.task-body .task-effort
                        display none
